<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SchoolDB"
         connectionString="Data Source=LAPTOP-1VO28O2D\SQLEXPRESS;Initial Catalog=SchoolDB;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>